.comic {
	position: relative;
	padding: 1.125em 1.5em;
	font-size: 1.25em;
	border-radius: 0rem;
    box-shadow:	0 0.125rem 0.5rem rgba(0, 0, 0, .3), 0 0.0625rem 0.125rem rgba(0, 0, 0, .2);
}

.comic::before {
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	top: 100%;
	left: 1.5em;
	border: .75rem solid transparent;   
	border-top: none;
	transform:rotate(180deg);
	border-bottom-color: #fbee17;
	filter: drop-shadow(0 -0.0625rem 0.0625rem rgba(0, 0, 0, .1));
}

.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 22px solid transparent;
    border-right: 22px solid transparent;
    
    border-bottom: 10px solid #fbee17;
  }

  .arrow-down {
    width: 0; 
    height: 0; 
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 16px solid #fbee17;
  }
  

  .screen_2 {
	background-image: url('./images/bg_image1.jpg');
	padding: 10px;
  }

  .s5NewImage {
    background-image: url('./images/s5newImage.png');
    width:51%;
  }

  html, body {
    max-width: 100%;
    overflow-x: hidden;
}
.imageWid {
 margin-left: -20px !important;
}
.imageWid2 {
  margin-right: -50px !important;

}
@media only screen and (max-width: 500px) {
  .s3Para {
    font-size: 9.4px !important;
  }
  .s3li {
    font-size: 13px !important;
    /* font-weight: 100 !important; */
  }
  .imageS4 {
    width: 70% !important;
  }
  .towerOuter {
    padding-left: 10px !important;
  }
  .towerImg {
    margin-top: 20px !important;
    margin-right:80px !important;
    width: 170px !important;
    
  }
  .towerStrip {
    margin-top: 20px !important;
  }
  .towerBox {
    margin-right: -30px !important;
    margin-bottom: 50px !important;
  }
  .shop03Image {
    /* margin-bottom: 20px !important; */
    margin-top: 0px !important;
    padding-left: 50px !important;
  }
  .shop03Image img {
    width: 300px !important;
    padding-left: 0 !important;
  }
  .shop03ImageGirl {
    top:400px !important
  }
  .shop03ImageGirl img {
    width: 60%!important
  }
  .shop03Outer {
    padding: 15px !important;
    width: 100%;

  }
  .shop03Para {
    font-size: 9.3px !important;
  }
  .shop03OuterTeaxt {
    margin-top: 30px !important;
  }
  .shiEng {
    font-size: 25px !important;
  }
  .shijpy {
    font-size: 35px !important;
  }
  .shibSmall {
    font-size: 9.3px !important;

  }
  .s6shibuya_sky_new {
    width: 90% !important;
  }
  .s6shibuyaOuter {
    padding:10px !important;
  }
  .shiPara {
    font-size: 9.5px !important;
  }
  .shiPara2 {
    font-size: 14px !important;

  }
  .screen4Para {
    font-size: 11px !important;
  }
  .s6cupImg {
    top:340px !important;
    right:35px !important
  }
  .screen7Outer {
    margin-top: 120px !important;
    padding:15px !important
  }
  .s6cupImgBox {
    right: 250px !important;
  }
  .screenpara {
    font-size: 9px !important;
  }
  .miyashitaImg img {
    width: 85%;
  }
  .screen_8Outer {
    padding-top: -35px !important;
  }
  .s8main_image {
    width: 90%;
  }
  .screen_8wrap {
    padding: 15px !important;
  }
  .screen_8head {
    font-size: 20px !important;
  }
  .screen_8p {
    font-size: 9.1px !important;
  }
  .screen_9para {
    font-size: 9px !important;
  }
  .s9new_image {
    padding: 0 !important;
  }
  .screen_10 {
    margin-top: 230px !important;
  }
  .s10newImage {
    width: 110%;
    padding: 0 !important;
    margin-bottom: 15px !important;
  }
  .screen_10para {
    font-size: 8.2px !important;
    margin-left: -10px !important;
  }
  .screen_10li {
    font-size: 14px !important;
  }
  .s10bottom {
    width: 90% !important;
  }
  .screen11Para {
    font-size: 9.4px !important;
    padding: 0 !important;
   
  }
  .screen11Para2 {
    font-size: 9.8px !important;
    padding: 0 !important;
   
  }
  .screen11Right {
    width: 110%;
  }
  .screen11Left {
    width: 110%;
    transform: translate(0);
    margin-left: 0 !important;
    padding-left: 0 !important;
  }
  .s12allpress {
    padding-left: 0 !important;
    width: 110% !important;
  }
  .screen_12wrap {
    width: 100% !important;
    padding: 15px !important;
  }
  .screen12Para {
    font-size: 9.3px !important;
  }
  .s12allpress02 {
    width: 85% !important;
  }
  .screen13Para {
    font-size: 8.6px !important;
  }
  .screen13Wrap {
    width: 100% !important;
    padding: 15px;
  }
  .screen_14 {
    margin-top: 0 !important;
  }
  .screen14Wrap {
    width: 100% !important;
    padding: 15px !important;
  }
  .screen14Part1 {
    margin-top: 0 !important;
  }
  .screen14Para {
    font-size: 8.9px;
  }
  .imageWid2 {
    margin-right: 0 !important;
    width: 90%;
   }
   .planeOuter {
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-left: 0;
    margin-right: 0;
   }
   .planePadding {
    padding-left: 1rem;
    padding-right: 1rem;
   }
}