.comic {
	position: relative;
	padding: 1.125em 1.5em;
	font-size: 1.25em;
	border-radius: 0rem;
    box-shadow:	0 0.125rem 0.5rem rgba(0, 0, 0, .3), 0 0.0625rem 0.125rem rgba(0, 0, 0, .2);
}

.comic::before {
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	top: 100%;
	left: 1.5em;
	border: .75rem solid transparent;   
	border-top: none;
	transform:rotate(180deg);
	border-bottom-color: #fbee17;
	filter: drop-shadow(0 -0.0625rem 0.0625rem rgba(0, 0, 0, .1));
}

.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 22px solid transparent;
    border-right: 22px solid transparent;
    
    border-bottom: 10px solid #fbee17;
  }

  .arrow-down {
    width: 0; 
    height: 0; 
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 16px solid #fbee17;
  }
  

  .screen_2 {
	background-image: url('./images/bg_image1.jpg');
	padding: 10px;
  }

  .s5NewImage {
    background-image: url('./images/s5newImage.png');
    width:51%;
  }

  html, body {
    max-width: 100%;
    overflow-x: hidden;
}
